html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

h1 {
  color: brown;
  text-align: center;
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  font-family: "휴먼편지체", sans-serif;
  text-indent: 1em;
  font-size: 1em;
  margin: 0;
}

article > p {
  margin: 2rem 0;
}

h2 {
  color: blue;
  text-shadow: 2px 2px 2px black;
}

a {
  text-decoration: none;
  color: blue;
  font-weight: 600;
  text-shadow: 2px 2px 2px black;
}

ul {
  margin-top: 2rem;
}

header {
  background-color: yellow;
}

#main {
  display: flex;
  height: 100%;
}

nav {
  flex: 1;
  background-color: orange;
}

section {
  flex: 3;
  background-color: skyblue;
}

footer {
  background-color: violet;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.link {
  font-size: 25px;
}
